.headerImg span{
    margin: 0px 20px;
}
.headerImg{
    font-size: 20px;
}
.parent{
position: absolute;
background-color: black;
}
.planetBox{
    padding-top: 30px;
}

.parent h2{
    cursor: pointer;
    color : '#fff'
}
.borderBottom{
    border-bottom: 2px solid #fff;
    font-size: 25px;
    font-weight: bold;

}